// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.top-title {
  margin: 28px 0 0 28px;
  font-size: 24px;
}

.top-text,
.top-link {
  font-size: 12px;
  margin-top: 10px;
  line-height: 55px;
  margin-left: 50px;
}

